In [4]:
import pandas as pd

In [5]:
data = {
    'x': [1,2,3,4,5,6],
    'y':[4,5,6,7,8,1]
}

In [8]:
df=pd.DataFrame(data)
df.head()

   x  y
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8

In [9]:
#negative correlation
pearson_corr = df['x'].corr(df['y'])
pearson_corr

-0.10762440050012627

In [10]:
df.corr()

          x         y
x  1.000000 -0.107624
y -0.107624  1.000000